{% extends "dashboard.html" %}
{% load staticfiles %}
{% block leftMenu %}
             <div id="left_menu">
                    <ul id="main_menu" class="main_menu">
                        {%if CUP.role.v or isAdmin%}
                       <li ><a href="/role" ><span class="ico gray shadow pictures_folder"></span><b>Role</b></a></li>
                       {%endif%}
                       
                       {%if CUP.user.v or isAdmin%}
                       <li><a href="/user" ><span class="ico gray shadow pictures_folder"></span><b>User</b></a></li>
                       {%endif%}
                       
                       {%if CUP.staff.v or isAdmin%}
                       <li ><a href="/staff" ><span class="ico gray shadow pictures_folder"></span><b>Staff</b></a></li>
                       {%endif%}
                       
                       {%if CUP.medium.v or isAdmin%}
                       <li><a href="/mediums/" ><span class="ico gray shadow pictures_folder"></span><b>Medium</b></a></li>
                       {%endif%}
                       
                       {%if CUP.section.v or isAdmin%}
                       <li ><a href="/sections/" ><span class="ico gray shadow pictures_folder"></span><b>Section</b></a></li>
                       {%endif%}
                       
                       
                       {%if CUP.standard.v or isAdmin%}
                       <li ><a href="/standards/" ><span class="ico gray shadow pictures_folder"></span><b>Standard</b></a></li>
                       {%endif%}
                       
                       {%if CUP.subject.v or isAdmin%}
                       <li ><a href="/subjects/" ><span class="ico gray shadow pictures_folder"></span><b>Subject</b></a></li>
                       {%endif%}
                       
                       
                       {%if CUP.grades.v or isAdmin%}
                       <li ><a href="/grading/" ><span class="ico gray shadow pictures_folder"></span><b>Grades</b></a></li>
                       {%endif%}
                       {%if CUP.exam.v or isAdmin%}
                       <li ><a href="/examType/" ><span class="ico gray shadow pictures_folder"></span><b>Exams</b></a></li>
                       {%endif%}
                       
                       {%if CUP.holiday.v or isAdmin%}
                       <li class="select"><a href="/holidays/" ><span class="ico gray shadow pictures_folder"></span><b>Holidays</b></a></li>
                       {%endif%}
                       
                       {%if CUP.setting.v or isAdmin%}
                       <li><a href="/school/" ><span class="ico gray shadow pictures_folder"></span><b>Setting</b></a></li>
                       {%endif%} 
                      
        </ul>              
                    <div id="footer"> &copy; Copyright 2013  </div>
              </div>
              {%endblock%}

                             {% block form1Title %}
                             Edit Holiday
                             
                             {% endblock %}
                                </div><!-- End widget-header -->	
                                
                                {% block form1Body %}
                                    {% for error in errors %}
                                    <font color="red">{{error}}<br> </font>
                                    {% endfor %}
                                   
                                    
                                     
                                      <form id="add_user" method="post" action="/holiday/edit/{{para1}}/"> 
                                       <table class="table table-bordered table-striped " id='mytable' width="100%">
                                      <thead align="center"  class="tr_bg_list">
                                      <tr>
                                      <td width="10%"> S.No</td>
                                      <td width="30%"> Date</td>
                                      <td width="50%">Festival</td>
                                   
                                   </tr></thead>
                                      <tbody align="center" class="font_wght">
                                      {% if getBack %}
                                      {% for data in overall %}
                                       <tr>
                                      <td>{{forloop.counter}}</td>
                                      <td><input type="text"  id="datepick{{data.0}}" class="datepicker"  name="date{{data.0}}"  value="{{data.1}}" style="text-align:left"  /></td>
                                       <td>
                                       <input type="text"  name="reason{{data.0}}" class="large" maxlength="100"  value="{{data.2}}" style="text-align:left"  />
                                          </td>
                                   
                                          </tr>
                                          {% empty %}
                                          <tr>
                                          
                                          <td colspan="3">No data at present</td>
                                          </tr>
                                       {% endfor %}
                                      {% else %}
                                      {% for data in allrows %}
                                       <tr>
                                      <td>{{forloop.counter}}</td>
                                      <td><input type="text"  id="datepick{{data.id}}" class="datepicker"  name="date{{data.id}}"  value="{{data.getdate}}" style="text-align:left"  /></td>
                                       <td>
                                       <input type="text"  name="reason{{data.id}}" class="large" maxlength="100"  value="{{data.festival}}" style="text-align:left"  />
                                          </td>
                                   
                                          </tr>
                                          {% empty %}
                                          <tr>
                                          
                                          <td colspan="3">No data at present</td>
                                          </tr>
                                       {% endfor %}
                                       {% endif %}
                                          </tbody>
                                          </table>
                                         
                                                                                    
                                 
                                           
                                          
                                           
                                           
                                           
                                            <div class="section last">
                                                <div>
                                                  <input type="submit" value="Save" name="editHoliday" class="btn submit_form"></input>
 </div>
                                           </div>
                                        </form>
                                </div><!--  end widget-content -->
                         
                            
             <!-- start right section--> 
{% endblock %}
{%block form1Width%}100%{%endblock%}
{%block form2%}{%endblock%}
{%block form3%}{%endblock%}
