{% extends 'dashboard.html'%}
{% load staticfiles %}



{% block leftMenu %}
              <div id="left_menu">
                    <ul id="main_menu" class="main_menu">
                       
              
                        {%if CUP.role.v or isAdmin%}
                       <li ><a href="/role" ><span class="ico gray shadow pictures_folder"></span><b>Role</b></a></li>
                       {%endif%}
                       
                       {%if CUP.user.v or isAdmin%}
                       <li><a href="/user" ><span class="ico gray shadow pictures_folder"></span><b>User</b></a></li>
                       {%endif%}
                       
                       {%if CUP.staff.v or isAdmin%}
                       <li class="select"><a href="/staff" ><span class="ico gray shadow pictures_folder"></span><b>Staff</b></a></li>
                       {%endif%}
                       
                       {%if CUP.medium.v or isAdmin%}
                       <li ><a href="/mediums/" ><span class="ico gray shadow pictures_folder"></span><b>Medium</b></a></li>
                       {%endif%}
                       
                       {%if CUP.section.v or isAdmin%}
                       <li ><a href="/sections/" ><span class="ico gray shadow pictures_folder"></span><b>Section</b></a></li>
                       {%endif%}
                       
                       
                       {%if CUP.standard.v or isAdmin%}
                       <li ><a href="/standards/" ><span class="ico gray shadow pictures_folder"></span><b>Standard</b></a></li>
                       {%endif%}
                       
                       {%if CUP.subject.v or isAdmin%}
                       <li ><a href="/subjects/" ><span class="ico gray shadow pictures_folder"></span><b>Subject</b></a></li>
                       {%endif%}
                       
                       
                       {%if CUP.grades.v or isAdmin%}
                       <li ><a href="/grading/" ><span class="ico gray shadow pictures_folder"></span><b>Grades</b></a></li>
                       {%endif%}
                       {%if CUP.exam.v or isAdmin%}
                       <li ><a href="/examType/" ><span class="ico gray shadow pictures_folder"></span><b>Exams</b></a></li>
                       {%endif%}
                       
                       {%if CUP.holiday.v or isAdmin%}
                       <li ><a href="/holidays/" ><span class="ico gray shadow pictures_folder"></span><b>Holidays</b></a></li>
                       {%endif%}
                       
                       {%if CUP.setting.v or isAdmin%}
                       <li ><a href="/school/" ><span class="ico gray shadow pictures_folder"></span><b>Setting</b></a></li>
                       {%endif%}
                  </ul> 
                    <div id="footer"> &copy; Copyright 2013  </div>
              </div>
{%endblock%}


{% block form1Title%}
Add Teacher:
{%endblock%}

{%block widgetContent%}

<script>
var checkDisplay = function(psamel,sameaslocal) { //check ID, form ID
			formstudent = document.getElementById(sameaslocal), checklocal = document.getElementById(psamel);
			checklocal.onclick = function(){
				formstudent.style.display = (this.checked) ? "none" : "block";
				formstudent.reset();
			};
			check.onclick();
		};
function calcAge(dobString) {
  dobString=dobString.split("-")
  dobString=dobString[1]+'/'+dobString[0]+'/'+dobString[2];
  
  var birthday = new Date(dobString);
  var age=~~((Date.now() - birthday) / (31557600000));
  if(age<20)
  {alert("please enter valid birth date!");}
  else{
  document.getElementById('age').value=age;}
}



function getCity(stateId)
{
var xmlhttp;
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
    document.getElementById("citydiv").innerHTML=xmlhttp.responseText;
    }
  }
xmlhttp.open("GET","/responder?lstate="+stateId,true);
xmlhttp.send();
}

function getCity2(stateId)
{
var xmlhttp;
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
    document.getElementById("citydiv2").innerHTML=xmlhttp.responseText;
    }
  }
xmlhttp.open("GET","/responder?pstate="+stateId,true);
xmlhttp.send();
}
</script>

<div class="content" style="margin:0 10px 0 10px" >
<div style="background:lightyellow;">
      <ul style="color:red;style:disk;">
                	{% for e in errors %}
                	  <li>{{e}}</li>
                	{%endfor%}
      </ul>
      <ul style="color:green;style:disk;">
                	{% for w in warns %}
                	  <li>{{w}}</li>
                	{%endfor%}
      </ul>
      
</div>
		<!-- Smart Wizard -->
  		<div id="wizard" class="swMain" >
  			<ul>

  				<li><a href="#step-1">
                <span class="stepDesc">Personal Details<br />
                </span>
                </a>
                </li>
  				
  				<li><a href="#step-2">
                <span class="stepDesc">Educational Details<br />
                </span>
                </a></li>
                
                <li><a href="#step-3">
                <span class="stepDesc">Experience Details<br />
                </span>
                </a></li>
                
                <li><a href="#step-4">
                <span class="stepDesc">Login Details<br />
                </span>
                </a></li>

            </ul>
            
            <form name="form1" method="post" action="" enctype="multipart/form-data" > 
  			<div id="step-1" style="width:100%;">
			           <div class="widget-content">
                                    <!-- title box -->
                                    
                                     

                                         
                                           
                                          <div class="section" >
                                                <label>Emp Id</label>   
                                                <div>
                                            <input type="text" name="empid" class="medium" readonly  value="{{empPrefix}}{{empid}}"/>       
                                               </div>
                                           </div>
                                           
                                           
                                              
                                           <div class="section" >
                                                <label>joining Date</label>   
                                                <div> <input type="text" name="joindate" class="datepicker" style="text-align:left" value="{{joindate}}" class="medium"   /></div>

                                           </div> 
                                            
                                             
                                            <div class="section" >
                                                <label>Title <sup>*</sup></label>   
                                                <div  class="selectWidth1"> <select class="small"  name="title">

                                                <option value="-1" selected >Select Title</option>
                                                   {%if title == 'm'%}
                                                   <option value="m"  selected>Mr.</option>
                                                   {%else%}
                                                   <option value="m" >Mr.</option>
                                                   {%endif%}
                                                   
                                                   {%if title == 'f'%}
                                                   <option value="f"  selected>Mrs.</option>
                                                   {%else%}
                                                   <option value="f" >Mrs.</option>
                                                   {%endif%}
                                                   
                                                   
                                                   {%if title == 'ms'%}
                                                   <option value="ms"  selected>Miss</option>
                                                   {%else%}
                                                   <option value="ms" >Miss</option>
                                                   {%endif%}
                                                   
                                                   
                                              </select></div>
                                           </div>
                                           
                                           <div class="section" >
                                                <label> First Name <sup>*</sup></label>   
                                                <div> <input type="text" name="fname" value="{{fname}}" maxlength="100" class="medium"  /></div>
                                           </div>
                                           
                                           <div class="section" >
                                                <label> Last Name <sup>*</sup></label>   
                                                <div> <input type="text" name="lname" value="{{lname}}" maxlength="100" class="medium"  /></div>
                                           </div>
                                           
                                           
                                           <div class="section" >
                                                <label>DOB</label>   
                                                <div> <input type="text" name="dob" class="datepicker" style="text-align:left" value="{{dob}}" class="medium"  onchange="calcAge(this.value);" /></div>

                                           </div>
                                           
                                           <div class="section" >
                                                <label> Age</label>   
                                                <div> <input type="text" name="age" id="age" value="{{age}}" class="medium" onkeypress="return isNumberKey(event)" /></div>
                                           </div>
                                           
                                           <div class="section" >
                                                <label> Email <sup>*</sup></label>   
                                                <div> <input type="text" name="email" value="{{email}}" class="medium" maxlength="100"  /></div>
                                           </div>
                                           
                                           <br/>
                                           <br/>
                                           <fieldset>
                                           <legend><h3>Local Residence  </h3></legend>
                                           <div class="section" >
                                                <label>Address <sup>*</sup></label>   
                                                <div> <textArea name="ladd" value="{{ladd}}" maxlength="500" class="medium"/>{{ladd}}</textArea></div>
                                           </div>
                                           <div class="section" >
                                                <label>State <sup>*</sup></label>   
                                                <div class="selectWidth1" >
                                                	<select class="small"  name="lstate" onchange="getCity(this.value)">
                                                		<option value="-1"  selected>Select State</option>
                                                	  {%for s in states%}
                                                	    {%ifequal lstate s.id%}
                                                		<option value="{{s.id}}" selected>{{s.name|title}}</option>
                                                		{%else%}
                                                		<option value="{{s.id}}" >{{s.name|title}}</option>
                                                		{%endifequal%}
                                                      {%empty%}
                                                         <option value="-1" > no states found ! </option>
                                                      {%endfor%}
                                                       	
                                                	</select>
                                                	
                                                	        
                                                </div>
                                           </div>
                                           
                                           <div class="section" >
                                                <label>City <sup>*</sup> </label>   
                                                <div class="selectWidth1" id="citydiv">
                                                	<select class="small"  name="lcity" >
                                                	<option value="-1" selected>Select City</option>
                                                	    {%for c in cities%}
                                                	    {%ifequal lcity c.id%}
                                                	    <option value="{{c.id}}" selected  >{{c.name}}</option>
                                                	    {%else%}
                                                	    <option value="{{c.id}}"  >{{c.name}}</option>
                                                	    {%endifequal%}
                                                	    {%empty%}
                                                		<option value="-1" selected  >Select State First</option>
                                                		{%endfor%}
                                                	</select>       
                                                </div>
                                           </div>
                                           
                                           <div class="section" >
                                                <label> Pincode <sup>*</sup></label>   
                                                <div> <input type="text" maxlength="12" name="lpin" value="{{lpin}}" class="medium"  onkeypress="return isNumberKey(event)"/></div>
                                           </div>
                                           
                                           <div class="section" >
                                                <label> Mobile No. <sup>*</sup> </label>   
                                                <div> <input type="text" name="lmobile" maxlength="12" value="{{lmobile}}" class="medium"  onkeypress="return isNumberKey(event)"/></div>
                                           </div>
                                           
                                           <div class="section" >
                                                <label> Landline No. <sup>*</sup> </label>   
                                                <div> <input type="text" name="llandline" maxlength="12" value="{{llandline}}" class="medium" onkeypress="return isNumberKey(event)" /></div>
                                           </div>
                                           
                                           </fieldset>
                                           
                                           
                                           
                                           <br/>
                                           <br/>
                                           <br/>
                                           <br/>
                                           
                                           
                                           <fieldset>
                                           <legend><h3>Permanent Residence </h3></legend>
                                            <div class="section" >
                                                <label>Same As Local </label>   
                                                <div> <input type="checkbox" id="psamel" name="psamel" value="1"  /></div>
                                           </div>
                                           <br>
                                           <div id="sameaslocal">
                                           <div class="section" >
                                                <label>Address <sup>*</sup></label>   
                                                <div> <textArea name="padd" value="{{padd}}" maxlength="500" class="medium"/>{{padd}}</textArea></div>
                                           </div>
                                           <div class="section" >
                                                <label>State <sup>*</sup></label>   
                                                <div class="selectWidth1" >
                                                	<select class="small"  name="pstate" onchange="getCity2(this.value)">
                                                		<option value="-1"  selected>Select State</option>
                                                	  {%for s in states2%}
                                                	    {%ifequal pstate s.id%}
                                                		<option value="{{s.id}}" selected>{{s.name|title}}</option>
                                                		{%else%}
                                                		<option value="{{s.id}}" >{{s.name|title}}</option>
                                                		{%endifequal%}
                                                      {%empty%}
                                                         <option value="-1" > no states found ! </option>
                                                      {%endfor%}
                                                       	
                                                	</select>
                                                	
                                                	        
                                                </div>
                                           </div>
                                           
                                           <div class="section" >
                                                <label>City <sup>*</sup></label>   
                                                <div class="selectWidth1" id="citydiv2">
                                                	<select class="small"  name="pcity" >
                                                	<option value="-1" selected>Select City</option>
                                                	    {%for c in cities2%}
                                                	    {%ifequal pcity c.id%}
                                                	    <option value="{{c.id}}" selected  >{{c.name}}</option>
                                                	    {%else%}
                                                	    <option value="{{c.id}}"  >{{c.name}}</option>
                                                	    {%endifequal%}
                                                	    {%empty%}
                                                		<option value="-1" selected  >Select State First</option>
                                                		{%endfor%}
                                                	</select>       
                                                </div>
                                           </div>
                                           
                                           <div class="section" >
                                                <label> Pincode <sup>*</sup></label>   
                                                <div> <input type="text" maxlength="12" name="ppin" value="{{ppin}}" class="medium"  onkeypress="return isNumberKey(event)"/></div>
                                           </div>
                                           
                                           <div class="section" >
                                                <label> Mobile No. <sup>*</sup></label>   
                                                <div> <input type="text" maxlength="12" name="pmobile" value="{{pmobile}}" class="medium"  onkeypress="return isNumberKey(event)"/></div>
                                           </div>
                                           
                                           <div class="section" >
                                                <label> Landline No. <sup>*</sup></label>   
                                                <div> <input type="text" maxlength="12" name="plandline" value="{{plandline}}" class="medium"  onkeypress="return isNumberKey(event)"/></div>
                                           </div>
                                           </div>
                                            <script type="text/javascript">
	checkDisplay("psamel", "sameaslocal");
	</script>
                                           </fieldset>
                   							
                   						
                   						
                                          <div class="section">
                                          <label> upload Photo <sup>*</sup></label>   
                                          <div style="padding-bottom:5px;"> 
                                              <input type="file" name="tphoto"  />
                                          </div>
                                          </div>
                                          
                                          
                                          
                     </div>                                  
                                           
			</div>   
			
			
			
			
  			<div id="step-2" style="width:100%;">
			           <div class="widget-content">
                                    <!-- title box -->
                                    
                                      <div class="section">
                                                
                                                <div><input type="hidden" /></div>

                                      </div>
 									  <br/>
 									  <div class="section">
                                                <table border="0">
                                                    
                                                    <legend><h3>Master Details </h3></legend>
                                                	<tr> 
                                                		<td>
                                                			<table cellpadding="5">
                                                				<tr>
                                                					<td>Qualification</td><td><input type="text" maxlength="150" name="qual_1" value="{{qual_1}}" /></td>
                                                				</tr>
                                                				<tr>
                                                					<td>Percentage</td><td><input type="text" name="percent_1" maxlength="4" value="{{percent_1}}" onkeypress="return isNumberKey(event)"/></td>
                                                				</tr>
                                                				<tr>
                                                					<td>Passed Out Year</td><td><input type="text" maxlength="6" name="pyear_1" value="{{pyear_1}}" onkeypress="return isNumberKey(event)"/></td>
                                                				</tr>
                                                				<tr>
                                                					<td>Institute</td><td><input type="text" maxlength="100" name="institute_1" value="{{institute_1}}"/></td>
                                                				</tr>
                                                				<tr>
                                                					<td>city</td><td><input type="text" name="city_1" maxlength="50" value="{{city_1}}"/></td>
                                                				</tr>
                                                				<tr>
                                                					<td>upload Doc</td><td><input type="file" class="fileupload" name="doc_1" /></td>
                                                				</tr>
                                                			</table>
                                                	    </td>
                                                		
                                                		<td>
                                                		   <table cellpadding="5">
                                                				<tr>
                                                					<td>Qualification</td><td><input type="text" maxlength="150" name="qual_2" value="{{qual_2}}"/></td>
                                                				</tr>
                                                				<tr>
                                                					<td>Percentage</td><td><input type="text" maxlength="4" name="percent_2" value="{{percent_2}}" onkeypress="return isNumberKey(event)"/></td>
                                                				</tr>
                                                				<tr>
                                                					<td>Passed Out Year</td><td><input type="text" maxlength="6" name="pyear_2" value="{{pyear_2}}" onkeypress="return isNumberKey(event)"/></td>
                                                				</tr>
                                                				<tr>
                                                					<td>Institute</td><td><input type="text" maxlength="100" name="institute_2" value="{{institute_2}}"/></td>
                                                				</tr>
                                                				<tr>
                                                					<td>city</td><td><input type="text" maxlength="50" name="city_2" value="{{city_2}}"/></td>
                                                				</tr>
                                                				<tr>
                                                					<td>upload Doc</td><td><input type="file" class="fileupload" name="doc_2" /></td>
                                                				</tr>
                                                			</table>
                                                		</td>
                                                	</tr>
                                                	
                                                </table>
                                                
                                      </div>
 									                                        
                                      
                                      <br/><br/><br/>
 									  <div class="section">
                                                <table border="0">
                                                    
                                                    <legend><h3>Bachelor Details </h3></legend>
                                                	<tr> 
                                                		<td>
                                                			<table cellpadding="5">
                                                				<tr>
                                                					<td>Qualification</td><td><input type="text" maxlength="150" name="qual_3" value="{{qual_3}}"/></td>
                                                				</tr>
                                                				<tr>
                                                					<td>Percentage</td><td><input type="text" maxlength="4" name="percent_3" value="{{percent_3}}"onkeypress="return isNumberKey(event)" /></td>
                                                				</tr>
                                                				<tr>
                                                					<td>Passed Out Year</td><td><input type="text" maxlength="6" name="pyear_3" value="{{pyear_3}}" onkeypress="return isNumberKey(event)"/></td>
                                                				</tr>
                                                				<tr>
                                                					<td>Institute</td><td><input type="text" name="institute_3" maxlength="100" value="{{institute_3}}"/></td>
                                                				</tr>
                                                				<tr>
                                                					<td>city</td><td><input type="text" name="city_3" maxlength="50" value="{{city_3}}"/></td>
                                                				</tr>
                                                				<tr>
                                                					<td>upload Doc</td><td><input type="file" class="fileupload" name="doc_3" /></td>
                                                				</tr>
                                                			</table>
                                                	    </td>
                                                		
                                                		<td>
                                                		   <table cellpadding="5">
                                                				<tr>
                                                					<td>Qualification</td><td><input type="text" maxlength="150" name="qual_4" value="{{qual_4}}"/></td>
                                                				</tr>
                                                				<tr>
                                                					<td>Percentage</td><td><input type="text" maxlength="4" name="percent_4" value="{{percent_4}}" onkeypress="return isNumberKey(event)"/></td>
                                                				</tr>
                                                				<tr>
                                                					<td>Passed Out Year</td><td><input type="text" maxlength="6" name="pyear_4" value="{{pyear_4}}" onkeypress="return isNumberKey(event)"/></td>
                                                				</tr>
                                                				<tr>
                                                					<td>Institute</td><td><input type="text" name="institute_4" maxlength="100" value="{{institute_4}}"/></td>
                                                				</tr>
                                                				<tr>
                                                					<td>city</td><td><input type="text" maxlength="50" name="city_4" value="{{city_4}}"/></td>
                                                				</tr>
                                                				<tr>
                                                					<td>upload Doc</td><td><input type="file" class="fileupload" name="doc_4" /></td>
                                                				</tr>
                                                			</table>
                                                		</td>
                                                	</tr>
                                                	
                                                </table>
                                                
                                      </div>
                                         
                                      <br/><br/>
                                      <div class="section">
                                                <table border="0">
                                                    
                                                    <legend><h3>Diploma Details </h3></legend>
                                                	<tr> 
                                                		<td>
                                                			<table cellpadding="5">
                                                				<tr>
                                                					<td>Qualification</td><td><input type="text" maxlength="150" name="qual_7" value="{{qual_7}}"/></td>
                                                				</tr>
                                                				<tr>
                                                					<td>Percentage</td><td><input type="text" maxlength="4" name="percent_7" value="{{percent_7}}" onkeypress="return isNumberKey(event)"/></td>
                                                				</tr>
                                                				<tr>
                                                					<td>Passed Out Year</td><td><input type="text" maxlength="6" name="pyear_7" value="{{pyear_7}}" onkeypress="return isNumberKey(event)"/></td>
                                                				</tr>
                                                				<tr>
                                                					<td>Institute</td><td><input type="text" name="institute_7" maxlength="100" value="{{institute_7}}"/></td>
                                                				</tr>
                                                				<tr>
                                                					<td>city</td><td><input type="text" maxlength="50" name="city_7" value="{{city_7}}"/></td>
                                                				</tr>
                                                				<tr>
                                                					<td>upload Doc</td><td><input type="file" class="fileupload" name="doc_7" /></td>
                                                				</tr>
                                                			</table>
                                                	    </td>
                                                	</tr>
                                                	
                                                </table>
                                                
                                      </div>
                                      
                                      <br/><br/>
                                      <div class="section">
                                                <table border="0">
                                                    
                                                    <legend><h3>12th Details </h3></legend>
                                                	<tr> 
                                                		<td>
                                                			<table cellpadding="5">
                                                				<tr>
                                                					<td>Qualification</td><td><input type="text" maxlength="150" name="qual_5" value="{{qual_5}}"/></td>
                                                				</tr>
                                                				<tr>
                                                					<td>Percentage</td><td><input type="text" maxlength="4" name="percent_5" value="{{percent_5}}" onkeypress="return isNumberKey(event)"/></td>
                                                				</tr>
                                                				<tr>
                                                					<td>Passed Out Year</td><td><input type="text" maxlength="6" name="pyear_5" value="{{pyear_5}}" onkeypress="return isNumberKey(event)"/></td>
                                                				</tr>
                                                				<tr>
                                                					<td>Institute</td><td><input type="text" maxlength="100" name="institute_5" value="{{institute_5}}"/></td>
                                                				</tr>
                                                				<tr>
                                                					<td>city</td><td><input type="text" maxlength="50" name="city_5" value="{{city_5}}"/></td>
                                                				</tr>
                                                				<tr>
                                                					<td>upload Doc</td><td><input type="file" class="fileupload" name="doc_5" /></td>
                                                				</tr>
                                                			</table>
                                                	    </td>
                                                	</tr>
                                                	
                                                </table>
                                                
                                      </div>
                                      
                                       <br/><br/>
                                      <div class="section">
                                                <table border="0">
                                                    
                                                    <legend><h3>10th Details </h3></legend>
                                                	<tr> 
                                                		<td>
                                                			<table cellpadding="5">
                                                				<tr>
                                                					<td>Qualification</td><td><input type="text" maxlength="150" name="qual_6" value="{{qual_6}}"/></td>
                                                				</tr>
                                                				<tr>
                                                					<td>Percentage</td><td><input type="text" name="percent_6" maxlength="4" value="{{percent_6}}" onkeypress="return isNumberKey(event)"/></td>
                                                				</tr>
                                                				<tr>
                                                					<td>Passed Out Year</td><td><input type="text" name="pyear_6" maxlength="6" value="{{pyear_6}}" onkeypress="return isNumberKey(event)"/></td>
                                                				</tr>
                                                				<tr>
                                                					<td>Institute</td><td><input type="text" name="institute_6" maxlength="100" value="{{institute_6}}"/></td>
                                                				</tr>
                                                				<tr>
                                                					<td>city</td><td><input type="text" name="city_6" maxlength="50" value="{{city_6}}"/></td>
                                                				</tr>
                                                				<tr>
                                                					<td>upload Doc</td><td><input type="file" class="fileupload" name="doc_6" /></td>
                                                				</tr>
                                                			</table>
                                                	    </td>
                                                	</tr>
                                                	
                                                </table>
                                                
                                      </div>
                                       
                                      
                                      
  
                                       
                        </div>
			</div>
			
			
			<div id="step-3" style="width:100%;">
			           <div class="widget-content">
                                    <!-- title box -->
                                        
                                       
                                       
                                       <div class="section" >
                                       			<label> Total Experience </label>   
                                                <div> <input type="text" name="totalExp" value="{{totalExp}}" class="medium"  onkeypress="return isNumberKey(event)"/></div>
                                       </div>
                                        
                                        
                                       <br/><br/>
                                       <fieldset>
                                       <legend>( 1 ) </legend>
                                       <div class="section" >
                                                <label>Standard</label>   
                                                <div> <input type="text" maxlength="100" name="ex_standard_1" value="{{ex_standard_1}}" class="medium"  /></div>
                                       </div>
                                       <div class="section" >
                                                <label>Subject</label>   
                                                <div> <input type="text" maxlength="100"  name="ex_subject_1" value="{{ex_subject_1}}" class="medium"  /></div>
                                       </div>
                                       <div class="section" >
                                                <label>Institute</label>   
                                                <div> <input type="text" maxlength="100" name="ex_institute_1" value="{{ex_institute_1}}" class="medium"  /></div>
                                       </div>
                                       <div class="section" >
                                                <label>City</label>   
                                                <div> <input type="text" maxlength="100" name="ex_city_1" value="{{ex_city_1}}" class="medium"  /></div>
                                       </div>
                                       
                                       <div class="section" >
                                                <label>From</label>   
                                                <div> <input type="text" name="ex_from_1"  value="{{ex_from_1}}" class="datepicker" style="text-align:left" /></div>
                                       </div>
                                       <div class="section" >
                                                <label>To</label>   
                                                <div> <input type="text" name="ex_to_1" value="{{ex_to_1}}" class="datepicker" style="text-align:left" /></div>
                                       </div>
                                       
                                       <div class="section" >
                                                <label>UPload Certificate</label>   
                                                <div> <input type="file" name="ex_doc_1" value="{{ex_doc_1}}" class="fileupload" style="text-align:left" /></div>
                                       </div>
            						   </fieldset>
                                       
            							
            						
            						   <br/><br/>
            						   <fieldset>
                                       <legend>( 2 ) </legend>
                                       <div class="section" >
                                                <label>Standard</label>   
                                                 <div> <input type="text" maxlength="100" name="ex_standard_2" value="{{ex_standard_2}}" class="medium"  /></div>
                                       </div>
                                       <div class="section" >
                                                <label>Subject</label>   
                                                 <div> <input type="text" maxlength="100" name="ex_subject_2" value="{{ex_subject_2}}" class="medium"  /></div>
                                       </div>
                                       <div class="section" >
                                                <label>Institute</label>   
                                                <div> <input type="text" maxlength="100" name="ex_institute_2" value="{{ex_institute_2}}" class="medium"  /></div>
                                       </div>
                                       <div class="section" >
                                                <label>City</label>   
                                                <div> <input type="text" maxlength="100" name="ex_city_2" value="{{ex_city_2}}" class="medium"  /></div>
                                       </div>
                                       
                                       <div class="section" >
                                                <label>From</label>   
                                                <div> <input type="text" name="ex_from_2" value="{{ex_from_2}}" class="datepicker" style="text-align:left" /></div>
                                       </div>
                                       <div class="section" >
                                                <label>To</label>   
                                                <div> <input type="text" name="ex_to_2" value="{{ex_to_2}}" class="datepicker" style="text-align:left" /></div>
                                       </div>
                                       
                                       <div class="section" >
                                                <label>UPload Certificate</label>   
                                                <div> <input type="file" name="ex_doc_2" value="{{ex_doc_2}}" class="fileupload" style="text-align:left" /></div>
                                       </div>
                                       </fieldset>
                                       
                                       
                                       <br/><br/>
            						   <fieldset>
                                       <legend>( 3 ) </legend>
                                       <div class="section" >
                                                <label>Standard</label>   
                                                 <div> <input type="text" maxlength="100" name="ex_standard_3" value="{{ex_standard_3}}" class="medium"  /></div>
                                       </div>
                                       <div class="section" >
                                                <label>Subject</label>   
                                                 <div> <input type="text" maxlength="100" name="ex_subject_3" value="{{ex_subject_3}}" class="medium"  /></div>
                                       </div>
                                       <div class="section" >
                                                <label>Institute</label>   
                                                <div> <input type="text" maxlength="100" name="ex_institute_3" value="{{ex_institute_3}}" class="medium"  /></div>
                                       </div>
                                       <div class="section" >
                                                <label>City</label>   
                                                <div> <input type="text" maxlength="100" name="ex_city_3" value="{{ex_city_3}}" class="medium"  /></div>
                                       </div>
                                       
                                       <div class="section" >
                                                <label>From</label>   
                                                <div> <input type="text"  name="ex_from_3" value="{{ex_from_3}}" class="datepicker" style="text-align:left" /></div>
                                       </div>
                                       <div class="section" >
                                                <label>To</label>   
                                                <div> <input type="text"  name="ex_to_3" value="{{ex_to_3}}" class="datepicker" style="text-align:left" /></div>
                                       </div>
                                       
                                       <div class="section" >
                                                <label>UPload Certificate</label>   
                                                <div> <input type="file"  name="ex_doc_3" value="{{ex_doc_3}}" class="fileupload" style="text-align:left" /></div>
                                       </div>
                                       </fieldset>
                                       
                                          
                                                                                    
                                     
  					</div>
		   </div>
		   
		   
		   
		   
		   <div id="step-4" style="width:100%;">
			           <div class="widget-content">
                                       
                                       
    
                                       <div class="section" >
                                             <label>User Name <sup>*</sup></label>
                                             <div>
                                             	  <input type="text" name="username" value="{{username}}" class="medium"  /> 
                                             </div>
                                       </div>
                                       
                                       <div class="section" >
                                             <label>Password <sup>*</sup></label>
                                             <div>
                                             	  <input type="password" name="pwd"  class="medium" value="{{cpwd}}" />
                                             </div>
                                       </div>
                                       
                                       <div class="section" >
                                             <label>Confirm Password <sup>*</sup></label>
                                             <div>
                                             	   <input type="password" name="cpwd"  class="medium" value="{{cpwd}}" />
                                             </div>
                                       </div>
                                       <!--<div class="section" >
                                             <label>Email ID <sup>*</sup></label>
                                             <div>
                                             	   <input type="text" name=""  value="{{email}}"   maxlength="100" />
                                             </div>
                                       </div>
                                       <div class="section" >
                                             <label>role <sup>*</sup></label>
                                             <div>
                                             	   <select class="medium"  name="">
                                                		<option value="-1" selected  > ---- </option>
                                                	 {%for r in roles%}
                                                	    {%ifequal r.id role%}
                                                		<option value="{{r.id}}" selected>{{r.name|title}}</option>
                                                		{%else%}
                                                		<option value="{{r.id}}">{{r.name|title}}</option>
                                                		{%endifequal%}
                                                      {%empty%}
                                                         <option value="-1" selected  > NO ROLES DEFINED ! </option>
                                                      {%endfor%}
                                                       	
                                                	</select>
                                             </div>
                                       </div>
                                       <div class="section" >
                                             <label>Admin</label>
                                             <div>
                                             	   {%if admin %}
                                             	   <input type="checkbox" name="" value="1" checked />
													{%else%}
													<input type="checkbox" name="" value="1" />
													{%endif%}
                                             </div>
                                       </div>-->
                                       
                                       <div class="section" >
                                             <label>Active</label>
                                             <div>
                                             	   {%if active %}
                                             	   <input type="checkbox" name="active" value="1" checked />
    											   {%else%}
    											   <input type="checkbox" name="active" value="1" />
    											   {%endif%}
                                             </div>
                                       </div>
                                       
                                       <div class="section last">
                                             <div>
                                                  <input type="submit" value="Add" class="btn submit_form" name="addTeacher"></input>
												   
										    </div>
                                       </div>
  					</div>
		   </div>                      
  	      
  	      </form>  
	   
	   </div>
            
      </div>
                                        


                           

{%endblock%}


{%block form1Width%}100%{%endblock%}
{%block form2%}{%endblock%}
{%block form3%}{%endblock%}
