{%extends 'dashboard.html' %}
{% load staticfiles%}

{% block leftMenu %}
              <div id="left_menu">
                    <ul id="main_menu" class="main_menu">
                      
                      <li ><a href="/teacher/upload/marks" ><span class="ico gray shadow pictures_folder"></span><b>Upload Marks</b></a></li>
                      <li class="select"><a href="/teacher/view/marks" ><span class="ico gray shadow pictures_folder"></span><b>View Marks</b></a></li>
                      <li ><a href="/result/" ><span class="ico gray shadow pictures_folder"></span><b>View Result</b></a></li>
                      <li ><a href="/studPerformance/" ><span class="ico gray shadow pictures_folder"></span><b>View Performance</b></a></li>
                      <li ><a href="/assignRollNo/" ><span class="ico gray shadow pictures_folder"></span><b>Assign Roll No</b></a></li>
                    </ul>
                    <div id="footer"> &copy; Copyright 2013  </div>
              </div>
              {%endblock%}

{% block form1Title%}{{subject}} Test List{%endblock%}

{% block form1Header%}
<div class="btn-group btn-square" style="float:right; margin:3px 2px 0 0" >
  <a class="btn  btn-large " href="/add/marks/{{sAtid}}">
  	<strong>Upload {{subject}} Marks</strong>
  </a>
</div>
{%endblock%}



{% block form1Body%}
<div id="UITab" style="position:relative; ">
                                         
                                          <div class="" >
                                          <div id="tab1" class="tab_content"> 
                                           
                                                  <table class="table table-bordered table-striped  "  id="data_table3" width="100%">
                                                    <thead align="center"  class="tr_bg_list">
                                                      <tr>
                                                        <td width="">S.No.</td>
                                                        <td width="">TEST TITLE</td>
                                                        <td width="">TEST DATE</td>
                                                        <td width="">UPLOAD DATE</td>
                                                        <td width="">view</td>
                                                      </tr>
                                                    </thead>
                                                    <tbody align="center" class="font_wght">
                                                      {%for sm in subjectMarks%}
                                                      		<tr>
                                                      			<td>{{forloop.counter}}</td>
                                                      			<td>{{sm.testName}}</td>
                                                        		<td>{{sm.testDate|date:"d-m-Y"}}</td>
                                                        		<td>{{sm.createdOn|date:"d-m-Y"}}</td>
                                                        		<td class="brdrnone"><a href="/result/subject/{{sm.id}}"><img src="{% static 'images/edit.png'%}" width="28" height="28" alt="Edit" title="Edit"></a></td>
                                                        	</tr>
                                                       {%empty%}
                                                       		<tr>
                                                      			<td colspan="5"><label>NO MARKS UPLOADED!</label></td>
                                                      			
                                                        	</tr>
                                                      {%endfor%}
                                                      
                                                      
                                                    </tbody>
                                                  </table>
                                         </div>
                                         </div>
                                      </div>


                                </div>
                                
                                
                                
                            
{%endblock%}

{%block form1Width%}100%{%endblock%}
{%block form2%}{%endblock%}
{%block form3%}{%endblock%}