{%extends 'dashboard.html' %}
{% load staticfiles%}

{% block leftMenu %}
              <div id="left_menu">
                    <ul id="main_menu" class="main_menu">
                       
              
                        {%if CUP.role.v or isAdmin%}
                       <li ><a href="/role" ><span class="ico gray shadow pictures_folder"></span><b>Role</b></a></li>
                       {%endif%}
                       
                       {%if CUP.user.v or isAdmin%}
                       <li><a href="/user" ><span class="ico gray shadow pictures_folder"></span><b>User</b></a></li>
                       {%endif%}
                       
                       {%if CUP.staff.v or isAdmin%}
                       <li class="select"><a href="/staff" ><span class="ico gray shadow pictures_folder"></span><b>Staff</b></a></li>
                       {%endif%}
                       
                       {%if CUP.medium.v or isAdmin%}
                       <li ><a href="/mediums/" ><span class="ico gray shadow pictures_folder"></span><b>Medium</b></a></li>
                       {%endif%}
                       
                       {%if CUP.section.v or isAdmin%}
                       <li ><a href="/sections/" ><span class="ico gray shadow pictures_folder"></span><b>Section</b></a></li>
                       {%endif%}
                       
                       
                       {%if CUP.standard.v or isAdmin%}
                       <li ><a href="/standards/" ><span class="ico gray shadow pictures_folder"></span><b>Standard</b></a></li>
                       {%endif%}
                       
                       {%if CUP.subject.v or isAdmin%}
                       <li ><a href="/subjects/" ><span class="ico gray shadow pictures_folder"></span><b>Subject</b></a></li>
                       {%endif%}
                       
                       
                       {%if CUP.grades.v or isAdmin%}
                       <li ><a href="/grading/" ><span class="ico gray shadow pictures_folder"></span><b>Grades</b></a></li>
                       {%endif%}
                       {%if CUP.exam.v or isAdmin%}
                       <li ><a href="/examType/" ><span class="ico gray shadow pictures_folder"></span><b>Exams</b></a></li>
                       {%endif%}
                       
                       {%if CUP.holiday.v or isAdmin%}
                       <li ><a href="/holidays/" ><span class="ico gray shadow pictures_folder"></span><b>Holidays</b></a></li>
                       {%endif%}
                       
                       {%if CUP.setting.v or isAdmin%}
                       <li ><a href="/school/" ><span class="ico gray shadow pictures_folder"></span><b>Setting</b></a></li>
                       {%endif%}
                  </ul> 
                    <div id="footer"> &copy; Copyright 2013  </div>
              </div>
{%endblock%}


{% block form1Title%}Teachers List{%endblock%}

{% block form1Header%}
<div class="btn-group btn-square" style="float:right; margin:3px 2px 0 0" >
  <a class="btn  btn-large " href="/staff/add">
  	<strong>Add Staff</strong>
  </a>
</div>
<div class="btn-group btn-square" style="float:right; margin:3px 2px 0 0" >
  <a class="btn  btn-large " href="/staff/">
  	<strong>Non Teaching Staff List</strong>
  </a>
</div>
{%endblock%}



{% block form1Body%}
<div id="UITab" style="position:relative; ">
                                         
                                          <div class="" >
                                          <div id="tab1" class="tab_content"> 
                                           
                                                  <table class="table table-bordered table-striped  "  id="data_table3" width="100%">
                                                    <thead align="center"  class="tr_bg_list">
                                                      <tr>
                                                        <td width="">EMP ID</td>
                                                        <td width="">Name</td>
                                                        <td width="">Status</td>
                                                        <td width="">Action</td>
                                                      </tr>
                                                    </thead>
                                                    <tbody align="center" class="font_wght">
                                                      {%for e in employees%}
                                                      		<tr>
                                                      		    <td>{{ePrefix}}{{e.id}}</td>
                                                      			
                                                      			<td>{{e.perDetail.fName}} {{e.perDetail.lName}}</td>
                                                        		<td>
                                                        			{%if e.isActive%}
                                                        				<img src="{% static 'images/icon_success.gif'%}">
                                                        			{%else%}
                                                        			    <img src="{% static 'images/inactive.gif'%}" width="13" height="15"> 
                                                        			{%endif%}
                                                        			
                                                        		</td>
                                                        		<td class="brdrnone"><a href="/teacher/edit/{{e.id}}"><img src="{% static 'images/edit.png'%}" width="28" height="28" alt="Edit" title="Edit Teacher"></a></td>
                                                        	</tr>
                                                      {%empty%}
                                                      		<tr>
                                                      		    <td colspan="4">NO TEACHER EXIST !</td>
                                                      		</tr>    
                                                      {%endfor%}
                                                      
                                                      
                                                    </tbody>
                                                  </table>
                                         </div>
                                         </div>
                                      </div>
<a class="btn  btn-large " href="/staff/">
  	<strong>Non Teaching Staff List</strong>
  </a>
<a class="btn  btn-large " href="/staff/add">
  	<strong>Add Staff</strong>
  </a>
  

                                </div>
                                
                                
                                
                            
{%endblock%}
{%block form1Width%}100%{%endblock%}
{%block form2%}{%endblock%}
{%block form3%}{%endblock%}