{% extends 'dashboard.html'%}
{% load staticfiles%}
{% block form1Title%}
View Record
{%endblock%}


{% block leftMenu %}
              <div id="left_menu">
                    <ul id="main_menu" class="main_menu">
                        <li  class="select"><a href="/students/" ><span class="ico gray shadow pictures_folder"></span><b>Admission 
                        </b></a></li>
                        <li ><a href="/studPromote/" ><span class="ico gray shadow pictures_folder"></span><b>Promote 
                        </b></a></li>
                        
                    </ul>
                    
                    <div id="footer"> &copy; Copyright 2013  </div>
              </div>
{%endblock%}

              
{%block widgetContent%}

<script>
function calcAge(dobString) {
  dobString=dobString.split("-")
  dobString=dobString[1]+'/'+dobString[0]+'/'+dobString[2];
  
  var birthday = new Date(dobString);
  var age=~~((Date.now() - birthday) / (31557600000));
  if(age<1)
  {
  document.getElementById('age').value=0;
  alert("please enter valid birth date!");}
  else{
  document.getElementById('age').value=age;}
}
function getSiblingName(studid)
{

var xmlhttp;
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
    
    document.getElementById("studNamediv1").innerHTML=xmlhttp.responseText;
    
    
    }
  }

xmlhttp.open("GET","/studentsibling?siblingID="+studid,true);
xmlhttp.send();
}
function getSiblingName1(studid1)
{

var xmlhttp;
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
    
    document.getElementById("studNamediv1").innerHTML=xmlhttp.responseText;
    
    
    }
  }

xmlhttp.open("GET","/accMresponder?studID1="+studid1,true);
xmlhttp.send();
}

function getSiblingName2(studid2)
{

var xmlhttp;
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
    
    document.getElementById("studNamediv2").innerHTML=xmlhttp.responseText;
    
    
    }
  }

xmlhttp.open("GET","/accMresponder?studID2="+studid2,true);
xmlhttp.send();
}


function getSiblingName3(studid3)
{

var xmlhttp;
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
    
    document.getElementById("studNamediv3").innerHTML=xmlhttp.responseText;
    
    
    }
  }

xmlhttp.open("GET","/accMresponder?studID3="+studid3,true);
xmlhttp.send();
}
function isNumberKey(evt)
          {
             var charCode = (evt.which) ? evt.which : event.keyCode
             if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
 
             return true;
          }


function getCityforLocal(stateId)
{
var xmlhttp;
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
    document.getElementById("citydiv1").innerHTML=xmlhttp.responseText;
    }
  }
xmlhttp.open("GET","/accMresponder?lstate="+stateId,true);
xmlhttp.send();
}

function getCityforPermanent(stateId)
{
var xmlhttp;
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
    document.getElementById("citydiv2").innerHTML=xmlhttp.responseText;
    }
  }
xmlhttp.open("GET","/accMresponder?pstate="+stateId,true);
xmlhttp.send();
}


</script>

   




    


<div class="content" style="margin:0 10px 0 10px" >

		<!-- Smart Wizard -->
  		<div id="wizard" class="swMain" >
  			<ul>

  				<li><a href="#step-1">
                <span class="stepDesc">Personal Detail<br />
                </span>
            </a></li>
  				<li><a href="#step-2">
                <span class="stepDesc">Fees Detail<br />
                </span>
            </a></li>

             <li><a href="#step-3">
                <span class="stepDesc">Marks<br />
                </span>
            </a></li>
            
            
  				
  			</ul>
            
             <form name="form1" method="post" action="/student/edit/{{para}}/" enctype="multipart/form-data"> 
  			<div id="step-1" style="width:100%;">
			          <div class="widget-content" style="width:100%;">
                                    <!-- title box -->

                                           <div class="section" >
                                                <label> Admission Date<sup>*</sup></label>   
                                                 <div> <input type="text"   name="addate"  value="{{addate}}" style="text-align:left" readonly  />
                                                 </div>
                                           </div>
                                           
                                          
                                          <div class="section" >
                                                <label>First Name <sup>*</sup></label>
                                                <div> <input type="text" name="firstname" value="{{firstname}}" maxlength="100" class="medium"  /></div>

                                           </div>
                                           <div class="section" >
                                                <label>Last Name <sup>*</sup></label>   
                                                <div> <input type="text" name="lastname" value="{{lastname}}" class="medium" maxlength="100"  /></div>

                                           </div>
                                           <div class="section" >
                                                <label>Date of Birth<sup>*</sup></label>   
                                                <div> <input type="text" name="dob" class="datepicker" style="text-align:left" value="{{dob}}" class="medium" onchange="calcAge(this.value);" /></div>

                                           </div>
                                           <div class="section" >
                                                <label>age </label>   
                                                <div> <input type="text" name="age" id="age" value="{{age}}" class="small" onkeypress="return isNumberKey(event)"    /></div>

                                           </div>
                                           
                                           
                                           <div class="section" >
                                                <label>Sex<sup>*</sup> </label>   
                                                <div class="selectWidth1">
                                                <select name="sex" class="selectWidth1">
                                                
                                                
                                                   {%if sex == 'm'%}
                                                   <option value="m"  selected>Male</option>
                                                   {%else%}
                                                   <option value="m" >Male</option>
                                                   {%endif%}
                                                   {%if sex == 'f'%}
                                                   <option value="f"  selected>Female</option>
                                                   {%else%}
                                                   <option value="f" >Female</option>
                                                   {%endif%}
                                                   

                                              </select>       
                                           </div>
                                           </div>
                                                                       <div class="section" >
                                                <label>Medium<sup>*</sup> </label>   
                                                <div class="selectWidth1">
                                                <select name="medium">
                                                
                                               
                                                 {% for item in mediums %}
                                                 {% if medium %}
                                                 {% ifequal medium item.id %}
                                                
                                                
                                             <option value="{{item.id}}" selected>{{item.name}}</option>
                                             {% else %}
                                             <option value="{{item.id}}">{{item.name}}</option>
                                             {% endifequal %}   
                                               {% else %}
                                               <option value="{{item.id}}">{{item.name}}</option>
                                               {% endif %}
                                                {% endfor %}  
  </select>       
                                           </div>
                                           </div>

    <div class="section" >
                                                <label>Standard<sup>*</sup> </label>   
                                                <div class="selectWidth1">
                                                <select name="shortstandard">
                                                
                                                
                                                 {% for item in shortstandards %}
                                                 {% if shortstandard %}
                                                 {% ifequal shortstandard item.id %}
                                                
                                                
                                             <option value="{{item.id}}" selected>{{item.name}}</option>
                                             {% else %}
                                             <option value="{{item.id}}">{{item.name}}</option>
                                             {% endifequal %}   
                                               {% else %}
                                               <option value="{{item.id}}">{{item.name}}</option>
                                               {% endif %}
                                                {% endfor %}  
  </select>       
                                           </div>
                                           </div>


 <div class="section" >
                                                <label>Section<sup>*</sup> </label>   
                                                <div class="selectWidth1">
                                                <select name="section">
                                                
                                                 
                                                 {% for item in sections %}
                                                 {% if section %}
                                                 {% ifequal section item.id %}
                                                
                                                
                                             <option value="{{item.id}}" selected>{{item.name}}</option>
                                             {% else %}
                                             <option value="{{item.id}}">{{item.name}}</option>
                                             {% endifequal %}   
                                               {% else %}
                                               <option value="{{item.id}}">{{item.name}}</option>
                                               {% endif %}
                                                {% endfor %}  
  </select>       
                                           </div>
                                           </div>
							
            
                                           <fieldset>
                                           <legend>Local Address Details</legend>
                                           
                                                                                      
                                           <div class="section" >
                                                <label>Address <sup>*</sup></label>   
                                                <div> <input type="text" maxlength="100" name="laddress" value="{{laddress}}" class="large"  /></div>
                                           </div>
                                           
                                           
                                           
                                           <div class="section" >
                                                <label>State <sup>*</sup></label>   
                                                <div class="selectWidth1" >
                                                	<select class="small"  name="lstate" onchange="getCityforLocal(this.value)">
                                                		<option value="-1"  selected>Select State</option>
                                                	  {%for s in states%}
                                                	    {%ifequal getlstate s.id%}
                                                		<option value="{{s.id}}" selected>{{s.name|title}}</option>
                                                		{%else%}
                                                		<option value="{{s.id}}" >{{s.name|title}}</option>
                                                		{%endifequal%}
                                                      {%empty%}
                                                         <option value="-1" > no states found ! </option>
                                                      {%endfor%}
                                                       	
                                                	</select>
                                                	
                                                	        
                                                </div>
                                           </div>
                                           <div class="section" >
                                                <label>City <sup>*</sup></label>   
                                                <div class="selectWidth1" id="citydiv1">
                                                	<select class="small"  name="lcity" >
                                                	<option value="-1" selected>Select City</option>
                                                	    {%for c in lcities%}
                                                	    {%ifequal getlcity c.id%}
                                                	    <option value="{{c.id}}" selected  >{{c.name}}</option>
                                                	    {%else%}
                                                	    <option value="{{c.id}}"  >{{c.name}}</option>
                                                	    {%endifequal%}
                                                	    {%empty%}
                                                		<option value="-1" selected  >Select State First</option>
                                                		{%endfor%}
                                                	</select>       
                                           </div>
                                           </div>
                                           
                                           <div class="section" >
                                                <label>Pincode</label>   
                                                <div> <input type="text" maxlength="12" name="lpincode" value="{{lpincode}}" class="medium" onkeypress="return isNumberKey(event)"  /></div>

                                           </div>
                                           
                                           
                                           
                                           <div class="section" >
                                                <label>Contact(R)</label>   
                                                <div> <input type="text" maxlength="12" name="lcontact" value="{{lcontact}}" class="medium" onkeypress="return isNumberKey(event)"  /></div>

                                           </div>
												
                                           
                                           <div class="section" >
                                                <label>Mobile no.</label>   
                                                <div> <input type="text" maxlength="12" name="lmobileno" value="{{lmobileno}}" class="medium" onkeypress="return isNumberKey(event)"  /></div>
                                           </div>
                                    </fieldset>
                                    <fieldset>
                                           <legend>Permanent Address Details</legend>
                                               <div class="section" >
                                                <label>Address <sup>*</sup></label>   
                                                <div> <input type="text" maxlength="100" name="paddress" value="{{paddress}}" class="large"  /></div>
                                           </div>
                                           
                                           
                                           
                                           <div class="section" >
                                                <label>State <sup>*</sup></label>   
                                                <div class="selectWidth1" >
                                                	<select class="small"  name="pstate" onchange="getCityforPermanent(this.value)">
                                                		<option value="-1"  selected>Select State</option>
                                                	  {%for s in states%}
                                                	    {%ifequal getpstate s.id%}
                                                		<option value="{{s.id}}" selected>{{s.name|title}}</option>
                                                		{%else%}
                                                		<option value="{{s.id}}" >{{s.name|title}}</option>
                                                		{%endifequal%}
                                                      {%empty%}
                                                         <option value="-1" > no states found ! </option>
                                                      {%endfor%}
                                                       	
                                                	</select>
                                                	
                                                	        
                                                </div>
                                           </div>
                                           <div class="section" >
                                                <label>City <sup>*</sup></label>   
                                                <div class="selectWidth1" id="citydiv2">
                                                	<select class="small"  name="pcity" >
                                                	<option value="-1" selected>Select City</option>
                                                	    {%for c in pcities%}
                                                	    {%ifequal getpcity c.id%}
                                                	    <option value="{{c.id}}" selected  >{{c.name}}</option>
                                                	    {%else%}
                                                	    <option value="{{c.id}}"  >{{c.name}}</option>
                                                	    {%endifequal%}
                                                	    {%empty%}
                                                		<option value="-1" selected  >Select State First</option>
                                                		{%endfor%}
                                                	</select>       
                                           </div>
                                           </div>
                                           
                                           <div class="section" >
                                                <label>Pincode</label>   
                                                <div> <input type="text" maxlength="12" name="ppincode" value="{{ppincode}}" class="medium" onkeypress="return isNumberKey(event)"  /></div>

                                           </div>
                                           
                                           
                                           
                                           <div class="section" >
                                                <label>Contact(R)</label>   
                                                <div> <input type="text" maxlength="12" name="pcontact" value="{{pcontact}}" class="medium" onkeypress="return isNumberKey(event)"  /></div>

                                           </div>
												
                                           
                                           <div class="section" >
                                                <label>Mobile no.</label>   
                                                <div> <input type="text" maxlength="12" name="pmobileno" value="{{pmobileno}}" class="medium" onkeypress="return isNumberKey(event)"  /></div>
                                           </div>
                                    </fieldset> 
                                             
                                </div>
            
			
			</div>
  			<div id="step-2" style="width:100%;">
			           <div class="widget-content" style="width:100%;">
                                    <!-- title box -->
                                              
      
              <table class="table table-bordered table-striped  "   width="100%">
                                                    <thead align="center"  class="tr_bg_list">
                                                      <tr >
                                                        <td width="12%">S.No</td>
                                                        <td width="20%">Month</td>
                                                        

                                                        
                                                        <td width="15%">Payment Mode</td>
                                                        <td width="20%">Date</td>
                                                        
                                                      </tr>
                                                    </thead>
                                                    <tbody align="center" class="font_wght">
                                                     
                                                      {% for item in feeDetails %}
                                                       <tr>
                                                        <td>{{forloop.counter}}</td>
                                                        <td>{{item.getMonth}}</td>
                                                        <td>{{item.getPaymentMode}}</td>
                                                    
                                                        
                                                         <td>
                                                       {{item.rdate}} 
                                                       
                                                        </td>
                                        
                                                        
                                                    
                                                      </tr>
                                                      {% empty %}
                                                      <tr>
                                                      <td colspan="4">No data at present</td>
                                                      </tr>
     
                                                    {% endfor %}  
                                                    </tbody>
                                                  </table>
      
                                 
                                 
                                 
                                 
                                </div>
					
			
			</div>                      
  			<div id="step-3">

			            <div class="widget-content">
                                    <!-- title box -->
                                          
                           {% for error in errors %}
                           <font color="red">{{error}}</font>
                           {% endfor %}          							
							    {%if data%}
                                      
                                        
                                        
                                        
										
										
										<table class="table table-bordered"   width="100%" style="background:lightcyan;" >
                                         	<tbody align="center">
                                                   
                                                   
												   
												   <tr>
												   		<td align="left"><label>&nbsp;&nbsp;&nbsp; STUDENT NAME : &nbsp;&nbsp;{{studname|upper}} </label></td>
												   </tr>
												   	 
												   
												                                             		
                                            </tbody>
										</table>
										<table class="table table-bordered"   width="100%" style="background:lightyellow;" >
                                         	<tbody align="center">
                                                   
                                                   
												   
												   <tr>
												   		<td><label>Exam</label></td>
												   		{% for d in exams %}
												   		<td colspan="3"><label> {{d.name}} </label></td>
												   		{% endfor %}
												   	</tr>
												   	 
												   <tr><td><label>Subject</label></td>
												   {% for d in exams %}
												   <td><label>obtain</label></td>
												   <td><label>max</label></td>
												   <td><label>percent</label></td>
												  {% endfor %}
												   
												   
												   </tr>
												   {% for ovl in overall %}
												      <tr>
												       
												      {% for data in ovl %}
												      <td>{{data}}</td>
												      
												     
												      
												      
												       {% endfor %}
												       </tr>
												       {% endfor %}  
												   <tr>
												   <td><label>Total</label></td>    
												   {% for data in performance %}
												   <td><label>{{data.0}}</label></td>
												   <td><label>{{data.1}}</label></td>
												   <td><label>{{data.2}}%</label></td>
												   {% endfor %}       
												   </tr>                                          		
                                            </tbody>
										</table>
										
										
										{% endif %}
							
							
</div>
						


</div>



                                                                             
                                       
                                                                                                                 
                                         
                                           <input type="hidden" value="{{warned}}" name="warned"/>
                                </div>
            </p>

			</div>
            
            
         
            </form>
  			
  		</div>
                                        
                                        
{%endblock%}
{%block form1Width%}100%{%endblock%}
{%block form2%}{%endblock%}
{%block form3%}{%endblock%}

