{% extends "dashboard.html" %}
{% load staticfiles %}
{% block leftMenu %}
             <div id="left_menu">
                    <ul id="main_menu" class="main_menu">
                       
                    <li><a href="/feeCategory/" ><span class="ico gray shadow pictures_folder"></span><b>Fees Category</b></a></li>
                   
                       <li ><a href="/assignFees/" ><span class="ico gray shadow pictures_folder"></span><b>Assign Fees</b></a></li>
                 <li class="select"><a href="/feePayment/" ><span class="ico gray shadow pictures_folder"></span><b>Fees Collection</b></a></li>
                 
                       
        </ul>              
                    <div id="footer"> &copy; Copyright 2013  </div>
              </div>
              {%endblock%}

                             {% block form1Title %}
                            Fee Defaulters
                             
                             {% endblock %}
                                </div><!-- End widget-header -->	
                                
                                {% block form1Body %}
                                    {% for error in errors %}
                                    <font color="red">{{error}}<br></font>
                                    {% endfor %}
                                   <script> 
                                    
                                    function isNumberKey(evt)
          {
             var charCode = (evt.which) ? evt.which : event.keyCode
             if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
 
             return true;
          }
                                    
                                     </script>
                                      <form id="add_user" method="post" action="/pendingfee/"> 
                                          
                                           
                                          <div class="section" >
                                                <label>Month </label>   
                                                <div class="selectWidth1"> <select name="month">
                                                <option value="-1">Select</option>
                                                {% for data in months %}
                                                {% ifequal forloop.counter month %}
                                                <option value="{{forloop.counter}}" selected>{{data}}</option>
                                                {% else %}
                                                <option value="{{forloop.counter}}">{{data}}</option>
                                                {% endifequal %}
                                                {% endfor %}
                                                </select>
                                                
                                                </div>
                                           </div>
                                           
                                           <div class="section" >
                                                <label>Standard </label>   
                                                <div class="selectWidth1"> <select name="getmss">
                                                <option value="-1">Select</option>
                                                {% for st in allMSS %}
                                                {% ifequal getst st.id %}
                                                <option value="{{st.id}}" selected>{{st.getName}}</option>
                                                {% else %}
                                                <option value="{{st.id}}">{{st.getName}}</option>
                                                {% endifequal %}
                                                {% endfor %}
                                                </select>
                                                
                                                </div>
                                           </div>
                                           
                                     <div class="section last">
                                                <div>
                                             <input type="submit" value="View" name="viewLateFee" class="btn submit_form"></input>     
 </div>
                                           </div>
                                  {% if showtables %}                                                  
                                  <table class="table table-bordered table-striped "  width="100%">
                                                    <thead align="center"  class="tr_bg_list">
                                                      <tr >
                                                        <td width="12%">S.No</td>
                                                        <td width="15%">Student Name</td>
                                                        <td width="15%">Medium</td>
                                                        <td width="20%">Standard</td>
                                                        

                                                        
                                                        <td width="15%">Section</td>
                                                        
                                                        
                                                      </tr>
                                                    </thead>
                                                    <tbody align="center" class="font_wght">
                                                     
                                                      {% for item in listing %}
                                                       <tr>
                                                        <td>{{forloop.counter}}</td>
                                                        <td>{{item.getName}}</td>
                                                        <td>{{item.standard.medium.name}}</td>
                                                        <td>{{item.standard.name}}</td>
                                                        <td>{{item.section.name}}</td>
                                                        
                                                    
                                                      </tr>
     												{% empty %}
     												<tr>
     												<td colspan="7">No fee defaulter found</td>
     												</tr>
     												
                                                    {% endfor %}  
                                                    </tbody>
                                                  </table>
                               {% endif %}            
                                          
                                           
                                           
                                           
                                           
                                        </form>
                                </div><!--  end widget-content -->
                         
                            
             <!-- start right section--> 
{% endblock %}
{%block form1Width%}100%{%endblock%}
{%block form2%}{%endblock%}
{%block form3%}{%endblock%}