<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
{% load staticfiles %}
<html>
<head>
  
    <!-- Use a JQuery ThemeRoller theme, in this case 'smoothness' -->
    <link rel="stylesheet" type="text/css" href="{% static "smoothness-1.8.13/jquery-ui-1.8.13.custom.css" %}">
    
    
 
    
    <script type="text/javascript" src="{% static "jquery-1.6.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "jquery-ui-1.8.13.custom.min.js" %}"></script>
    
    <!-- Include the DropDownCheckList supoprt -->
    <!-- <script type="text/javascript" src="ui.dropdownchecklist.js"></script> -->
    <script type="text/javascript" src="{% static "ui.dropdownchecklist-1.4-min.js" %}"></script>
    
    <!-- Apply dropdown check list to the selected items  -->
    <script type="text/javascript">
        $(document).ready(function() {
            
            $("#s8").dropdownchecklist( { emptyText: "Please Select...", width: 150 } );
           
            $("#s10").dropdownchecklist( { forceMultiple: true
, onComplete: function(selector) {
	var values = "";
  	for( i=0; i < selector.options.length; i++ ) {
    	if (selector.options[i].selected && (selector.options[i].value != "")) {
      		if ( values != "" ) values += ";";
      		values += selector.options[i].value;
    	}
  	}
  	alert( values );
} 
, onItemClick: function(checkbox, selector){
	var justChecked = checkbox.prop("checked");
	var checkCount = (justChecked) ? 1 : -1;
	for( i = 0; i < selector.options.length; i++ ){
		if ( selector.options[i].selected ) checkCount += 1;
	}
    if ( checkCount > 3 ) {
		alert( "Limit is 3" );
		throw "too many";
	}
}
            });
        });
    </script>
    
</head>
<body>

    <table>
      
	  <tr>
	  	
		    
		  
		
	  </tr>
	  <tr>
    	
    	<td>
	        <select id="s8" multiple="multiple">
	            <option >Low</option>
	            <option >Medium</option>
	            <option >High</option>
	        </select>
	         <select id="s8" multiple="multiple">
	            <option >Low</option>
	            <option >Medium</option>
	            <option >High</option>
	        </select>
	    </td>
	  </tr>
     
      
      
      
    </table>
    
	
    	
</div>
</body>
</html>

