{%extends 'dashboard.html' %}
{% load staticfiles%}


{% block leftMenu %}
<div id="left_menu">
                    <ul id="main_menu" class="main_menu">
                       
              
                        {%if CUP.role.v or isAdmin%}
                       <li ><a href="/role" ><span class="ico gray shadow pictures_folder"></span><b>Role</b></a></li>
                       {%endif%}
                       
                       {%if CUP.user.v or isAdmin%}
                       <li class="select"><a href="/user" ><span class="ico gray shadow pictures_folder"></span><b>User</b></a></li>
                       {%endif%}
                       
                       {%if CUP.staff.v or isAdmin%}
                       <li ><a href="/staff" ><span class="ico gray shadow pictures_folder"></span><b>Staff</b></a></li>
                       {%endif%}
                       
                       {%if CUP.medium.v or isAdmin%}
                       <li ><a href="/mediums/" ><span class="ico gray shadow pictures_folder"></span><b>Medium</b></a></li>
                       {%endif%}
                       
                       {%if CUP.section.v or isAdmin%}
                       <li ><a href="/sections/" ><span class="ico gray shadow pictures_folder"></span><b>Section</b></a></li>
                       {%endif%}
                       
                       
                       {%if CUP.standard.v or isAdmin%}
                       <li ><a href="/standards/" ><span class="ico gray shadow pictures_folder"></span><b>Standard</b></a></li>
                       {%endif%}
                       
                       {%if CUP.subject.v or isAdmin%}
                       <li ><a href="/subjects/" ><span class="ico gray shadow pictures_folder"></span><b>Subject</b></a></li>
                       {%endif%}
                       
                       
                       {%if CUP.grades.v or isAdmin%}
                       <li ><a href="/grading/" ><span class="ico gray shadow pictures_folder"></span><b>Grades</b></a></li>
                       {%endif%}
                       {%if CUP.exam.v or isAdmin%}
                       <li><a href="/examType/" ><span class="ico gray shadow pictures_folder"></span><b>Exams</b></a></li>
                       {%endif%}
                       
                       {%if CUP.holiday.v or isAdmin%}
                       <li><a href="/holidays/" ><span class="ico gray shadow pictures_folder"></span><b>Holidays</b></a></li>
                       {%endif%}
                       
                       {%if CUP.setting.v or isAdmin%}
                       <li><a href="/school/" ><span class="ico gray shadow pictures_folder"></span><b>Setting</b></a></li>
                       {%endif%}
                  </ul>              
              	  <div id="footer"> &copy; Copyright 2013  </div>
</div>
{%endblock%}

{% block form1Title%}User List{%endblock%}

{% block form1Header%}
<div class="btn-group btn-square" style="float:right; margin:3px 2px 0 0" >
 <a class="btn  btn-large " href="/user/add">
  								<strong>Add User</strong>
  						   </a>
</div>
{%endblock%}

{% block form1Body%}
<div id="UITab" style="position:relative; ">
                                         
                                          <div class="" >
                                          <div id="tab1" class="tab_content"> 
                                           
                                                  <table class="table table-bordered table-striped  "  width="100%">
                                                    <thead align="center"  class="tr_bg_list">
                                                      <tr >
                                                        <td width="">Username</td>
                                                        <td width="">Status</td>
                                                        <td width="">Action</td>
                                                      </tr>
                                                    </thead>
                                                    <tbody align="center" class="font_wght">
                                                      {%for u in users%}
                                                      		<tr>
                                                      			<td>{{u.username}}</td>
                                                      			<td>
                                                        			{%if u.isActive%}
                                                        				<img src="{% static 'images/icon_success.gif'%}">
                                                        			{%else%}
                                                        			    <img src="{% static 'images/inactive.gif'%}" width="13" height="15">
                                                        			{%endif%}
                                                        			
                                                        		</td>
                                                        		<td class="brdrnone"><a href="/user/edit/{{u.id}}"><img src="{% static 'images/edit.png'%}" width="28" height="28" alt="Edit" title="Edit User"></a></td>
                                                        	</tr>		
                                                      
                                                      {% empty %}
                                                      <tr>
                                                      <td colspan="3">No data at present</td>
                                                      
                                                      </tr>
                                                      {%endfor%}
                                                    </tbody>
                                                  </table>
                                         </div>
                                         </div>
                                      </div>

 							<a class="btn  btn-large " href="/user/add">
  								<strong>Add User</strong>
  						   </a>
                                </div>
                                
                                
                                
                            
                     {%endblock%}

{%block form1Width%}100%{%endblock%}
{%block form2%}{%endblock%}
{%block form3%}{%endblock%}
