{% extends "dashboard.html" %}
{% load staticfiles %}
{% block leftMenu %}



             <div id="left_menu">
              <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
 


             <script type="text/javascript">
             
function addRow()
{

x=document.getElementById('getHide').value
document.getElementById('getHide').value=(parseInt(x)+1).toString();
x=document.getElementById('getHide').value

         if (!document.getElementsByTagName) return;
         tabBody=document.getElementsByTagName("TBODY").item(0);
         row=document.createElement("TR");
         
         cell1 = document.createElement("TD");
         cell1.setAttribute('style','vertical-align:top')
         cell2 = document.createElement("TD");
         cell3 = document.createElement("TD");
         cell3.setAttribute('style','vertical-align:top')
         cell4 = document.createElement("TD");
         cell4.setAttribute('style','vertical-align:top')
         cell5 = document.createElement("TD");
         cell5.setAttribute('style','vertical-align:top')
         cell5.innerHTML='<a  onclick="addRow();" ><img src="{% static 'images/icon_addlink.gif' %}" ></a>';
         
         
         var textbox1 = document.createElement('input');  
		textbox1.setAttribute('type', 'text');
		textbox1.setAttribute('name', 'subject'+x.toString());
		textbox1.setAttribute('style','width:120px;');
		
		
		textbox1.setAttribute('maxlength','50');
		 var textbox2 = document.createElement('select');  
		
		textbox2.setAttribute('name', 'medium'+x.toString());
		textbox2.setAttribute('multiple',true);
		textbox2.setAttribute('size',1);
		textbox2.innerHTML=document.getElementById('getmed').innerHTML
		
		var textbox3 = document.createElement('select');  
		
		textbox3.setAttribute('name', 'fromStandard'+x.toString());
		textbox3.innerHTML=document.getElementById('getFromStandard').innerHTML
		
		var textbox4 = document.createElement('select');  
		
		textbox4.setAttribute('name', 'toStandard'+x.toString());
		textbox4.innerHTML=document.getElementById('getToStandard').innerHTML
		
		
          
		
		
		
         
         
         cell1.appendChild(textbox1);
         cell2.appendChild(textbox2);
         cell3.appendChild(textbox3);
         cell4.appendChild(textbox4);
         
        
        
         row.appendChild(cell1);
         row.appendChild(cell2);
         row.appendChild(cell3);
         row.appendChild(cell4);
         row.appendChild(cell5);
         
         
        
         
         tabBody.appendChild(row);


}
</script>

          
                    <ul id="main_menu" class="main_menu">
                       
                  {%if CUP.role.v or isAdmin%}
                       <li ><a href="/role" ><span class="ico gray shadow pictures_folder"></span><b>Role</b></a></li>
                       {%endif%}
                       
                       {%if CUP.user.v or isAdmin%}
                       <li><a href="/user" ><span class="ico gray shadow pictures_folder"></span><b>User</b></a></li>
                       {%endif%}
                       
                       {%if CUP.staff.v or isAdmin%}
                       <li ><a href="/staff" ><span class="ico gray shadow pictures_folder"></span><b>Staff</b></a></li>
                       {%endif%}
                       
                       {%if CUP.medium.v or isAdmin%}
                       <li ><a href="/mediums/" ><span class="ico gray shadow pictures_folder"></span><b>Medium</b></a></li>
                       {%endif%}
                       
                       {%if CUP.section.v or isAdmin%}
                       <li ><a href="/sections/" ><span class="ico gray shadow pictures_folder"></span><b>Section</b></a></li>
                       {%endif%}
                       
                       
                       {%if CUP.standard.v or isAdmin%}
                       <li ><a href="/standards/" ><span class="ico gray shadow pictures_folder"></span><b>Standard</b></a></li>
                       {%endif%}
                       
                       {%if CUP.subject.v or isAdmin%}
                       <li class="select"><a href="/subjects/" ><span class="ico gray shadow pictures_folder"></span><b>Subject</b></a></li>
                       {%endif%}
                       
                       
                       {%if CUP.grades.v or isAdmin%}
                       <li ><a href="/grading/" ><span class="ico gray shadow pictures_folder"></span><b>Grades</b></a></li>
                       {%endif%}
                       {%if CUP.exam.v or isAdmin%}
                       <li ><a href="/examType/" ><span class="ico gray shadow pictures_folder"></span><b>Exams</b></a></li>
                       {%endif%}
                       
                       {%if CUP.holiday.v or isAdmin%}
                       <li ><a href="/holidays/" ><span class="ico gray shadow pictures_folder"></span><b>Holidays</b></a></li>
                       {%endif%}
                       
                       {%if CUP.setting.v or isAdmin%}
                       <li><a href="/school/" ><span class="ico gray shadow pictures_folder"></span><b>Setting</b></a></li>
                       {%endif%}
        </ul>              
                    <div id="footer"> &copy; Copyright 2013  </div>
              </div>
              {%endblock%}

                             {% block form1Title %}
                             Add Subject
                             
                             {% endblock %}
                                </div><!-- End widget-header -->	
                                
                                {% block form1Body %}
                                
                                    {% for error in errors %}
                                    <font color="red">{{error}}<br>
                                        </font>
                                    {% endfor %}
                                
                                    
                                     
                                      <form id="add_user" method="post" action="/subject/add/"> 
                                      <input type="hidden" id="getHide" value="{{getlength}}" name="getlength">
                                    <table class="table table-bordered table-striped " id='mytable' width="100%">
                                                    <thead align="center"  class="tr_bg_list">
                                                      <tr >
                                                        
                                                        <td width="10%">Subject Name</td>
                                                        

                                                        
                                                        <td width="10%">Medium</td>
                                                     
                                                      <td width="10%">From Standard</td>
                                                      <td width="10%">To Standard</td>
                                                      <td width="10%">Add</td>
                                                       
                                                      
                                                        
                                                      </tr>
                                                    </thead>                                             
                                   


{% if getBack %}


 <tbody align="center" class="font_wght">
 
{% for data in overall %}

<tr>

 <td style="vertical-align:top;">
 <input type="text"  maxlength='50' name="subject{{forloop.counter}}" value="{{data.0}}" style='width:120px;'>
 </td>
 <td style="vertical-align:top;">
 
 <select name="medium{{forloop.counter}}" id="getmed" multiple size="1">
 
 {% for v in mediums %}
 {% if v.id in data.1 %} 
 <option value="{{v.id}}" selected>{{v.name}}</option>
 {% else %}
  <option value="{{v.id}}" >{{v.name}}</option>
  {% endif %}
{% endfor %}
</select>

</td>

 
 <td style="vertical-align:top;">
 <select name='fromStandard{{forloop.counter}}' id='getFromStandard'>
 <option value='-1'>Select</option>
 {% for s in shortstandards %}
 {% ifequal s.id data.2 %}
 <option value="{{s.id}}" selected>{{s.name}}</option>
 {% else %}
 <option value="{{s.id}}">{{s.name}}</option>
 {% endifequal %}
 {% endfor %}
 </select>
 </td>
 <td style="vertical-align:top;">
 
 <select name="toStandard{{forloop.counter}}" id='getToStandard'>
 <option value="-1">Select</option>
 {% for s in shortstandards %}
 
 {% ifequal s.id data.3 %}
 <option value="{{s.id}}" selected>{{s.name}}</option>
 {% else %}
 <option value="{{s.id}}">{{s.name}}</option>
 {% endifequal %}
 {% endfor %}
 </select>
 </td>
<td style="vertical-align:top;">

<a  onclick="addRow();" ><img src="{% static 'images/icon_addlink.gif' %}" ></a>
 
 </td>
 
  </tr>
  {% endfor %}
  
{% else %}
  <tbody align="center" class="font_wght">
 

 <tr>
 <td style="vertical-align:top;">
 <input type="text"  maxlength='50' name="subject1" value="" style='width:120px;'>
 </td>
 <td style="vertical-align:top;">
 
 <select name="medium1" id="getmed" multiple size="1">
 
 {% for v in mediums %}
 <option value="{{v.id}}">{{v.name}}</option> 
{% endfor %}
</select>

</td>

 
 <td style="vertical-align:top;">
 <select name='fromStandard1' id='getFromStandard'>
 <option value='-1'>Select</option>
 {% for data in shortstandards %}
 <option value="{{data.id}}">{{data.name}}</option>
 {% endfor %}</select>
 </td>
 <td style="vertical-align:top;">
 
 <select name="toStandard1" id='getToStandard'>
 <option value="-1">Select</option>
 {% for t in shortstandards %}
 <option value="{{t.id}}">{{t.name}}</option> 
{% endfor %}
</select>

</td>
<td style="vertical-align:top;">

<a  onclick="addRow();" ><img src="{% static 'images/icon_addlink.gif' %}" ></a>
 
 </td>
 
  </tr>
  
 
 
 {% endif %}
 

                        </tbody></table>
                        
                        
                        
                        
                                           
                                            <div class="section last">
                                                <div>
                                                  <input type="submit" value="Save" name="addSubject" class="btn submit_form" />
 </div>
                                           </div>
                                        </form>
                                </div><!--  end widget-content -->
                         
                            
             <!-- start right section--> 
{% endblock %}
{%block form1Width%}100%{%endblock%}
{%block form2%}{%endblock%}
{%block form3%}{%endblock%}



