{% extends "dashboard.html" %}
{% load staticfiles %}
{% block leftMenu %}
             <div id="left_menu">
                    <ul id="main_menu" class="main_menu">
                       
                       
                       <li ><a href="/attendences/" ><span class="ico gray shadow pictures_folder"></span><b>Staff Attendence</b></a></li>
                      
                       <li class="select"><a href="/report/attendence/" ><span class="ico gray shadow pictures_folder"></span><b>View Report</b></a></li>
        </ul>              
                    <div id="footer"> &copy; Copyright 2013  </div>
                    
                    
              </div>
                  <script> 
                                    
                               
          function getListItem()
{
getop=document.getElementById('getOption').value
var xmlhttp;
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
    document.getElementById("getDataFromServer").innerHTML=xmlhttp.responseText;
    }
  }
xmlhttp.open("GET","/accMresponder?getopt="+getop,true);
xmlhttp.send();
}
                                    
                                     </script>
              {%endblock%}

                             {% block form1Title %}
                             Attendence Report
                             
                             {% endblock %}
                                </div><!-- End widget-header -->	
                                
                                {% block form1Body %}
                                    {% for error in errors %}
                                    <font color="red">{{error}}<br></font>
                                    {% endfor %}
                               
                                      <form id="add_user" method="post" action="/report/attendence/">
                                     
                                          <div class="section" >
                                                <label>Select Option<sup>*</sup> </label>   
                                                <div class="selectWidth1"> <select name="option" onchange="getListItem()" id="getOption">
                                              {% ifequal opt "2" %}
                                               <option value="1">For Particular Month</option>
                                               <option value="2" selected>For Particular Employee</option>
                                              {% else %}
                                                 <option value="1" selected>For Particular Month</option>
                                               <option value="2" >For Particular Employee</option>
                                               {% endifequal %}
                                                </select>
                                                
                                                </div>
                                           </div>
                                           {% if getBack1 %}
                                          <div id="getDataFromServer"> 
                                          <div class="section" >
                                                <label>Employee<sup>*</sup> </label>   
                                                <div class="selectWidth1"> <select name="employee">
                                                <option value="-1">Select</option>
                                                {% for data in emps %}
                                                {% ifequal emp data.id %}
                                                <option value="{{emp}}" selected>{{data.getEMPName}}</option>
                                                {% else %}
                                                <option value="{{data.id}}">{{data.getEMPName}}</option>
                                                {% endifequal %}
                                                {% endfor %}
                                                </select>
                                                
                                                </div>
                                           </div>
                                    </div>
                                                            
                                                            {% else %}
                                               <div id="getDataFromServer"> 
                                          <div class="section" >
                                                <label>Month<sup>*</sup> </label>   
                                                <div class="selectWidth1"> <select name="month">
                                                <option value="-1">Select</option>
                                                {% for data in months %}
                                                {% ifequal forloop.counter month %}
                                                <option value="{{forloop.counter}}" selected>{{data}}</option>
                                                {% else %}
                                                <option value="{{forloop.counter}}">{{data}}</option>
                                                {% endifequal %}
                                                {% endfor %}
                                                </select>
                                                
                                                </div>
                                           </div>
                                    </div>
                                    {% endif %}                                          
                                 
                                           
                                          
                                           
                                           
                                           
                                            <div class="section last">
                                                <div>
                                                  <input type="submit" value="View" name="viewData" class="btn submit_form"></input>
 </div>
                                           </div>
                                        </form>
                                        {% if getBack %}
                                          <table class="table table-bordered table-striped  "   width="100%">
                                                    <thead align="center"  class="tr_bg_list">
                                                      <tr >
                                                        <td width="12%">Employee Id</td>
                                                        <td width="20%">Employee Name</td>
                                                        <td width="20%">Present</td>
                                                        

                                                        
                                                        
                                                        <td width="20%">Absent</td>
                                                        <td width="20%">Total</td>
                                                        
                                                      </tr>
                                                    </thead>
                                                    <tbody align="center" class="font_wght">
                                                     
                                                      {% for item in overall %}
                                                       <tr>
                                                        <td>{{item.0}}</td>
                                                        <td>{{item.1}}</td>
                                                            <td>{{item.2.0}}</td>
                                                            <td>{{item.2.1}}</td>
                                                            <td>{{item.2.2}}</td>
                                                    
                                                        
                                                       
                                        
                                                       
                                                    
                                                      </tr>
     			{% empty %}
     			<tr>
     			<td colspan="4">No data at present</td>
     			</tr>
     			{% endfor %}
                                                     
                                                    </tbody>
                                                  </table>
                                                  {% endif %}

             {% if getBack1 %}
             
                                          <table class="table table-bordered table-striped  "   width="100%">
                                                    <thead align="center"  class="tr_bg_list">
                                                      <tr >
                                                        <td width="12%">Month</td>
                                                        <td width="20%">Present</td>
                                                        <td width="20%">Absent</td>
                                                        

                                                        
                                                        
                                                        
                                                        <td width="20%">Total</td>
                                                        
                                                      </tr>
                                                    </thead>
                                                    <tbody align="center" class="font_wght">
                                                     
                                                      {% for item in overall %}
                                                       <tr>
                                                        <td>{{item.0}}</td>
                                                        <td>{{item.1}}</td>
                                                            <td>{{item.2}}</td>
                                                            <td>{{item.3}}</td>
                                                           
                                                    
                                                        
                                                       
                                        
                                                       
                                                    
                                                      </tr>
     			{% empty %}
     			<tr>
     			<td colspan="4">No data at present</td>
     			</tr>
     			{% endfor %}
                                                     
                                                    </tbody>
                                                  </table>
                                                  {% endif %}
                                                  
                                                  
                                                  
                                </div><!--  end widget-content -->
                         
                            
             <!-- start right section--> 
{% endblock %}
{%block form1Width%}100%{%endblock%}
{%block form2%}{%endblock%}
{%block form3%}{%endblock%}
